fastapi==0.112.2
uvicorn[standard]==0.30.6
python-multipart==0.0.9
transformers==4.44.2
torch==2.4.0
accelerate>=0.30.0
Pillow==10.4.0
PyMuPDF==1.24.9
datasets==2.20.0
pydantic==1.10.14
pyarrow==15.0.2
pytesseract==0.3.10
